.bank-btn2 {
  margin-bottom: 8px;
  background: #ededed;
  color: #171717 !important;
  outline: none;
}
.bank-btn3{
  color: #585858 !important;
  background: none;
  outline: none;
}

.close{
  position: absolute;
  right: 16px;
  top: 13px;
  cursor: pointer;
}
