@use "design-system";

@import 'recovery-phrase/index';
@import 'onboarding-app-header/index';
@import 'secure-your-wallet/index';
@import 'privacy-settings/index';
@import 'create-password/index';
@import 'creation-successful/index';
@import 'welcome/index';
@import 'pin-extension/index';
@import 'metametrics/index';
@import 'import-method-selector/index';

.onboarding-flow {
  &--welcome-banner {
    // background: url('/images/welcome-banner.png') no-repeat calc(50% + 500px) 160px;
    background: url('/images/cryptobridge/gradient-bg.jpg') no-repeat center top;
    background-size: cover;
    // background-color: var(--color-accent03-light);

  }

  &--welcome-login {
    background: url('/images/cryptobridge/gradient-bg.jpg') no-repeat top center;
    background-size: cover;
    background-color: var(--color-white);
    position: relative;
    &__service{
      position: absolute;
      bottom: 16px;
      right: 16px;
      width: 44px;
      height: 44px;
      background: var(--color-primary,#B771E5);
      border-radius: 100%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__support{
      position: fixed;
      right: 24px;
      bottom: 24px;
      z-index: 9999;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      cursor: pointer;
      img{
        width: 56px;
        height: 56px;
        object-fit: contain;
      }
    }
  }
}
