@use "design-system";

.multichain-send-page {
  $width-screen-sm-min:100%;
  $width-screen-md-min:100%;
  $width-screen-lg-min:62vw;

  // prevent overflow-x
  max-width: 100%;
  // border: 1px solid var(--color-border-muted);
  // border-radius: 2px;
  // box-shadow: var(--shadow-size-lg) var(--color-shadow-default);

  @include design-system.screen-sm-min {
    width: $width-screen-sm-min;
  }

  @include design-system.screen-md-min {
    width: $width-screen-md-min;
  }

  @include design-system.screen-lg-min {
    width: $width-screen-lg-min;
  }
  &__account-picker {
    height: 62px;

    &__label {
      @include design-system.H6;

      font-weight: 500;

      @extend %ellipsify;
    }
  }

  &__nav-button {
    flex-basis: 50%;
  }

  &__recipient {
    width: 100%;

    .tabs__list {
      font-size: design-system.$font-size-h6;
      border-bottom: 0;
      background-color: transparent;
      position: relative;

      .tab {
        width: 50%;
       &>button{
          text-align: left !important;
        }
      }

    }

    &__item {
      &__title-tooltip > * {
        display: inline;
      }

      &__title-tooltip {
        white-space: nowrap;
      }

      &__title-tooltip-container {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &__title-confusable-wrapper {
        display: inline-block;
      }

      &__avatar {
        width: 20px;
        height: 20px;
        max-width: 20px;
        border-radius: 10px;
      }

      &__badge {
        transform: scale(1) translate(25%, 70%);
        width: '20px';
        height: '20px';
      }
    }
  }

  &__recipient:last-child {
    padding-bottom: 0;
  }

  .attention {
    display: flex;
    align-items: flex-start;
    padding: 13px;
    box-sizing: border-box;
    gap: 16px;
    background: var(--color-primary-attention);
  }

  .attention-ico {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-primary-attention-ico);
  }

  .attention-des {
    color: var(--color-primary-attention-des);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex: 1;
  }

  .attention-des span {
    font-weight: 700;
  }

  .attention-tips {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--color-primary-attention-tips);
    text-align: center;
  }
}
